@{
    Layout = null;
}

<a class="tile gray-light-hover checked" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#@Model-checkbox"
   href="/de-DE/Selection/RemoveFolderAjax?folderId=@Model">
    <i class="icon-checked-square"></i>
</a>
