@{
    Layout = null;
}

<a class="tile gray-light-hover unchecked" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#@Model-checkbox" data-ajax-success="addFolderSuccess"
   href="/de-DE/Selection/AddFolderAjax?folderId=@Model">
    <i class="icon-unchecked-square"></i>
</a>
