@using BlackMesa.MyStack.Main.Resources

@model BlackMesa.MyStack.Main.ViewModels.Selection.SearchResultViewModel

<div id="folder-search-result">

    @Html.Partial("_Path", Model.Path)

    <a class="tile gray-dark-hover" href="@Url.Action("Edit", "Card", new { id = Model.Id })">
        <i class="icon-card"> </i>
        <pre>@Html.Raw(Model.FrontSide)</pre>
    </a>

    <div class="tile gray-light">
        <pre>@Html.Raw(Model.BackSide)</pre>
    </div>

</div>
