@using BlackMesa.MyStack.Main.Resources

@{
    ViewBag.Title = Strings.FirstSteps;
}


@* ------------------- Content ------------------- *@

<div id="content">

    <section id="help-first-steps">

        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="tile gray-dark">
            <h3>Einführung</h3>
        </div>

        <div class="tile gray-light">
            <div>
                <p>
                    <strong>Herzlich Willkommen bei MyStack!</strong>
                </p>
                <p>
                    Um dir den Einstieg in deine neue Lernplattform zu erleichtern, haben wir für dich eine einfache Schritt für Schritt Anleitung vorbereitet:
                </p>
            </div>
        </div>

        <div class="tile gray-dark">
            <h3>Schritt 1: Überlege dir eine übersichtliche Ordner-Struktur!</h3>
        </div>

        <div class="tile gray-light">
            <div>
                <p>
                    Eine übersichtliche Ordner-Struktur hilft dir vor allem beim schnellen wiederfinden deiner Karteikarten. Außerdem kannst du so strukturierter lernen, indem
                    du dir einzelne Themenschwerpunkte zum Lernen herauspickst.
                </p>
                <p>
                    Wir empfehlen dir, deine Karteikarten nach Fächern bzw. Themenschwerpunkte zu sortieren und diese dann in Unterabschnitte zu unterteilen.
                </p>
                <p>
                    Eine einfache Strukturierung könnte folgendermaßen aussehen:
                </p>
                <p>[Ordner] Mathematik</p>
                <p style="text-indent:1em;">[Unterordner] Geometrie</p>
                <p style="text-indent:1em;">[Unterordner] Analysis</p>
                <p style="text-indent:2em;">[Unterordner] Differentialrechnung</p>
                <p style="text-indent:2em;">[Unterordner] Integralrechnung</p>
                <p style="text-indent:2em;">[Unterordner] …</p>
                <p>[Ordner] Kunstgeschichte</p>
                <p style="text-indent:1em;">[Unterordner] Antike</p>
                <p style="text-indent:1em;">[Unterordner] Renaissance</p>
                <p style="text-indent:1em;">[Unterordner] …</p>
                <p>[Ordner] …</p>
            </div>
        </div>


        <div class="tile gray-dark">
            <h3>Schritt 2: Fülle die Ordner mit Leben!</h3>
        </div>


        <div class="tile gray-light">
            <div>
                <p>
                    Um mit Karteikarten lernen zu können, müssen diese erst geschrieben werden, in unserem Fall erstellt werden. Das läuft normalerweise so ab:
                </p>
                <p>
                    Du nimmst eine neue Karteikarte, schreibst auf die Vorderseite deine Frage, ein Stichwort oder eine Aufgabenstellung, drehst diese herum und schreibst auf
                    die Rückseite die dazugehörige Antwort. Danach sortierst du diese Karte in die dazugehörige Themen-Box. Bei MyStack läuft das ähnlich, wie genau, erfährst du jetzt:
                </p>
                <p>
                    <strong>Schritt A: Auswählen des Ablageortes</strong>
                </p>
                <p>
                    Anders wie bei "richtigen" Karteikarten, suchst du dir hier den Ort, wo du deine Karteikarte ablegen möchtest vorher heraus. Dazu wählst du einfach ein
                    Ordner aus, indem du deine Karteikarte ablegen möchtest. Du kannst Karteikarten aber auch im Home-Verzeichnis ablegen.
                </p>
                <p>
                    <strong>Schritt B: Anlegen einer neuen Karteikarte</strong>
                </p>
                <p>
                    Zum Erstellen der Kartei siehst du am rechten Rand den Button für das Hinzufügen (+), diesen ausgewählt hast du die Wahl, eine Karteikarte anzulegen, ein
                    Verzeichnis zu erstellen und die Möglichkeit, deine Karten zu exportieren oder Karten zu importieren.
                </p>
                <p>
                    Interessant für uns ist momentan der Menüpunkt "Karteikarte", welchen du bitte auswählst.
                </p>
                <p>
                    <strong>Schritt C: Beschriften der Vorder- und Rückseite</strong>
                </p>
                <p>
                    Nachdem du den Menüpunkt "Karteikarte" ausgewählt hast, kommst du in die "Karteikarte erstellen" Ansicht. Hier hast du die Möglichkeit, Vorder- und
                    Rückseite der Kartei zu beschriften. Leider können wir dir die Schreibarbeit nicht abnehmen, dafür kannst du die Karten beschriften, ohne dass du sie umdrehen musst. (schont die Handgelenke
                    ungemein!)
                </p>
                <p>
                    Beachte dabei, dass der Text von der Vorderseite, nach dem abspeichern, in der Karteikarten-Übersicht sichtbar ist. Zur besseren Strukturierung, wähle
                    einen Namen, der den Inhalt der Karte treffend beschreibt. Am besten geeignet sind Fragestellungen (Wer...?, Wie...?, Was...?), Aufgabenstellungen (Erläutern Sie..., Nennen Sie..., Erklären Sie..., usw.) oder
                    einfache Stichworte.
                </p>
                <p>
                    Hast du beide Seiten beschriftet, drücke einfach auf "Speichern" und deine angelegte Karte erscheint in deinem ausgewählten Ordner.
                    Damit die Karteikarte nicht so alleine ist, lege doch gleich weitere Karten an. Karteikarten sind Rudeltiere!
                </p>
            </div>
        </div>

        <div class="tile gray-dark">
            <h3>Schritt 3: Die Vorbereitung hat sich gelohnt, es kann endlich los gehen mit lernen!</h3>
        </div>

        <div class="tile gray-light">
            <div>
                <p>
                    Ob das nun eine Gute oder Schlechte Nachricht ist, entscheidet jeder von euch selbst. Wir unterstützen euch jedenfalls dabei, indem wir euch die Möglichkeit geben, euch „abfragen“ zu lassen. Wie das funktioniert erklären wir euch jetzt:
                </p>
                <p>
                    Als erstes kommt dir deine vorherig angelegte Strukturierung zu gute. Du suchst dir einfach das Thema oder die Themen heraus die du lernen möchtest und
                    markierst diese. Markieren kannst du diese einfach indem du, entweder den ganzen Ordner am Ende der Zeile mit einem Häkchen versiehst oder du dir einzelne
                    Karteikarten auswählst und diese mit dem Häkchen versiehst. Natürlich kannst du auch mehrere Ordner markieren. <br />Sobald du ein Häkchen setzt, siehst du schon dass sich die Schaltflächen rechts am Bildschirm verändern. Das Symbol mit der Rakete dient dazu eine Abfrage
                    zu beginnen und das wollen wir ja auch.
                </p>
                <p>
                    Bevor die Abfrage startet, hast du noch ein paar Einstellmöglichkeiten, mit welchen du deine Abfrage beeinflussen kannst. Die genaue Beschreibung für die
                    dir vorhanden Möglichkeiten findest du in unserem Tutorial.
                </p>
                <p>
                    Bist du bereit loszulegen? Ja? Dann klicke auf die „Abfrage beginnen“ Schaltfläche und lege los mit lernen. Dir werden, je nach deinen Einstellungen,
                    entweder die Frage oder die Antwort von deiner Karteikartensammlung angezeigt. Deine Aufgabe ist es nun, die richtige Antwort, bzw. die richtige Frage dazu
                    zu finden. Hast du deine Antwort notiert oder hast du die Lösung im Kopf, klicke auf die Fragestellung und lasse dir die Antwort anzeigen.
                </p>
                <p>
                    Unter der Antwort hast du die Möglichkeit deine Antwort zu bewerten. Sei dabei bitte ehrlich! Diese Antwort bestimmt, wie oft du diese Karteikarte
                    wiederholen musst, bzw. wann sie wieder fällig wird. Bewerte Karteikarten nur als richtig, wenn du auch alle Punkte deiner Antwort, zu deiner vollen
                    Zufriedenheit beantwortet hast. Sollten Teile fehlen oder deine Antwort eher „schwammig“ sein, klicke lieber auf „Teilweise Richtig“ und wiederhole diese
                    Kartei nochmal, um den Inhalt noch genauer zu festigen.
                </p>
                <p>
                    Hast du die deine Karten alle richtig beantwortet? Super, dann leg doch die nächsten Karteikarten an, schicke sie an Freunde oder lass dir von Freunden
                    welche schicken und arbeite diese durch. Hier auf MyStack hast du viele verschiedene Möglichkeiten des „Lernens“.
                </p>
            </div>
        </div>
        
        <div class="tile gray-dark">
            <h3>Weiterführendes</h3>
        </div>

        <div class="tile gray-light">
            <div>
                <p>
                    Sollten nach dieser ersten Einführung noch Fragen offen geblieben sein, schau dir am besten unser Tutorial in deiner Karteikartenbox an.
                </p>
                <p>
                    Dort erhältst du detaillierte Erläuterungen zu allen MyStack Funktionen:
                </p>
                <p>
                    <ul>
                        <li>Wie verwaltest du deine Karteikarten? (anlegen, editieren, löschen)</li>
                        <li>Wie strukturierst du deine Karteikarten in Ordner? (anlegen, editieren, löschen)</li>
                        <li>Wie findest du Karteikarten-Inhalte wieder? (suchen)</li>
                        <li>Wie teilst du deine Karteikarten mit anderen? (exportieren, importieren)</li>
                        <li>Wie kannst du dich „abfragen“ lassen? (Optionen)</li>
                        <li>Wie kontrollierst du deinen lernerfolg? (Statistik)</li>
                        <li>Wie veränderst du deine persönlichen Einstellungen? (Passwort, Sprache)</li>
                        <li>Wie verlässt du uns wieder? (Account löschen)</li>
                    </ul>
                </p>

                <p>
                    Viel Erfolg beim Lernen!
                </p>
                <p>
                    Dein MyStack-Team
                </p>

            </div>

        </div>

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Index", "Home")" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>